.hole {
  width: 6.25rem;  
  height: 6.25rem; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: gray; */
  margin: 0 0.625rem; 
  position: relative;
  overflow: hidden;   
}

.hole:hover {
  background-color: #ddd;
}

.hole p {
  margin: 0;
}

.hole img {
  width: 100%;    
  height: 100%;     
  object-fit: cover;  
  border-radius: 50%; 
}

button {
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
