* {
  box-sizing: border-box;
}

:root {
  --purple: #480083;
  /* --foxOrange: #d56824; */
  /* --foxOrange: #ffa30f; */
  --foxOrange: #dbdbdb;
  --bg-purple: rgba(0, 0, 0, 0.5);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--foxOrange);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  min-width: 500px;
  min-height: 100vh;
  width: 100vw;

  background-image: url('../assets/bg_fox.png');
  /* background-color: antiquewhite; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 50px; 
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.content {
  display: none;
}
